i {
  color: #7d7d7d;
}
.home-section {
  .col-6 {
    border: 2px solid #ebebeb;
    padding: 1rem;
    margin-bottom: 2rem;
    cursor: pointer;
  }
  #active-section {
    background: #ebebeb;
  }
}
